b.label--required{
	color:red;
}
label.error{
	color:red;
}
.kt-menu__item{
	color: red;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link {
    background-color: rgba(255, 255, 255, 0.4);
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--submenu.kt-menu__item--open.kt-menu__item--here > .kt-menu__link {
    background-color: #1e1e2d;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--here > .kt-menu__link {
    background-color: rgba(255, 255, 255, 0.4);
}
.newoverlay{position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 50;background: rgba(255,255,255,0.7);border-radius: 3px;}
.newoverlay>.fa, .newoverlay-wrapper .newoverlay>.fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}
.wrapper-loading {
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 100000;
}
.wrapper-loading-2 {
    top: 30%;
    left: 45%;
    position: absolute;
}
.pos-floating-button {
    position: fixed;
    bottom: 40px;
    left: 48%;
    z-index: 10000;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.load {
    position: relative;
    margin: 50px auto;
    width: 100px;
    height: 80px;
}

.gear {
    position: absolute;
    z-index: -10;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 5s infinite;
    animation: spin 5s infinite;
}
.kt-badge.kt-badge--inline {
    height: 28px;
    width: auto;
    padding: 0.75rem 0.75rem;
    border-radius: 2px;
}
.kt-badge.kt-badge--pill {
    border-radius: 2rem;
}
.two {
    left: 40px;
    width: 80px;
    height: 80px;
    -webkit-animation: spin-reverse 5s infinite;
    animation: spin-reverse 5s infinite;
}
.hidden{
    display: none;
}
.three {
    top: 45px;
    left: -10px;
    width: 60px;
    height: 60px;
}

.amExportButton {
    display: none !important;
}
.item-produksi {
  border-radius: 25px;
  border: 1px solid #ffb822;
  padding: 20px;
  margin: 10px;
}
.m-widget27 .m-widget27__pic .m-widget27__title>span {
    font-size: 2.5rem !important;
}
.m-widget27 .m-widget27__pic .m-widget27__title>span>span {
    font-size: 1.5rem;
    padding-right: 1rem;
}
td.text__right{
    text-align: right;
}

@-webkit-keyframes spin {
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spin-reverse {
    50% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes spin-reverse {
    50% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
